<script type="text/javascript" src="/js/phaser-3.24.1.min.js"></script>
<script type="text/javascript" src="/js/dragonbones-5.7.0/dragonBones.min.js"></script>
<script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/game.js") %>"></script>

<div id="game" phx-update="ignore"></div>
